### mpg 데이터셋 확인.

In [1]:
import pandas as pd
mpg = pd.read_csv(r'C:\Users\601\Desktop\김경섭\데이터베이스\데이터가공(3)\mpg.csv')

In [2]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

### mpg의 fl 컬럼 확인.

In [4]:
mpg['fl'].value_counts()

r    168
p     52
e      8
d      5
c      1
Name: fl, dtype: int64

#### 1. mpg 데이터셋을 복사하여, 연료 가격 변수를 추가해주세요.

In [5]:
df = mpg.copy()
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [6]:
import numpy as np
df = df.assign(연료 = np.where(df['fl']=="r",'레귤러',
                             np.where(df['fl']=="p",'프리미엄',
                                      np.where(df['fl']=="e",'에탄올',
                                               np.where(df['fl']=="d",'디젤','cng')))),
               가격 = np.where(df['fl']=="r",2.22,
                             np.where(df['fl']=="p",2.76,
                                      np.where(df['fl']=="e",2.11,
                                               np.where(df['fl']=="d",2.38,2.35)))))

#### 2. 확인하기 위해 model, fl, price 변수 추출해 5행만 출력해보세요.

In [12]:
df[['model','연료','가격']].sample(5)

            model    연료    가격
190  camry solara   레귤러  2.22
231        passat  프리미엄  2.76
183         camry   레귤러  2.22
92        mustang   레귤러  2.22
98        mustang  프리미엄  2.76