3. 쉐보레, 포드, 혼다의 도시고속도로(hwy) 평균을 구해주세요.

In [1]:
import pandas as pd
mpg = pd.read_csv(r'C:\Users\601\Desktop\김경섭\데이터베이스\데이터가공\mpg.csv')

In [3]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

#### query의 in [  ] 를 이용하여 여러 컬럼을 한번에 불러올 수 있다.

In [5]:
df = mpg.query('manufacturer in ["chevrolet","ford","honda"]')

In [6]:
df.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv

#### df의 hwy 평균을 구한다.

In [7]:
df['hwy'].mean()

22.50943396226415